@font-face {
    font-family: 'canopeeregular';
    src: url('../fonts/canopee-webfont.woff2') format('woff2'),
         url('../fonts/canopee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'acid_grotesknormal';
    src: url('../fonts/acidgrotesk-normal-webfont.woff2') format('woff2'),
         url('../fonts/acidgrotesk-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  